<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Modern One Page Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="element/css/bootstrap-responsive.css" rel="stylesheet" />
        <link href="element/css/style.css" rel="stylesheet" />
        <link href="element/color/default.css" rel="stylesheet" />
        <link rel="shortcut icon" href="element/img/favicon.ico" />
    </head>

    <body>
        <!-- navbar -->
        <div class="navbar-wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <!-- Responsive navbar -->
                        <a
                            class="btn btn-navbar"
                            data-toggle="collapse"
                            data-target=".nav-collapse"
                            ><span class="icon-bar"></span
                            ><span class="icon-bar"></span
                            ><span class="icon-bar"></span>
                        </a>
                        <h1 class="brand"><a href="index.html">Mostafa</a></h1>
                        <!-- navigation -->
                        <nav class="pull-right nav-collapse collapse">
                            <ul id="menu-main" class="nav">
                                <li><a title="team" href="#about">About</a></li>
                                <li>
                                    <a title="services" href="#services"
                                        >Services</a
                                    >
                                </li>
                                <li>
                                    <a title="works" href="#works">Works</a>
                                </li>
                                <li><a title="blog" href="#blog">Blog</a></li>
                                <li>
                                    <a title="contact" href="#contact"
                                        >Contact</a
                                    >
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header area -->
        <div id="header-wrapper" class="header-slider">
            <header class="clearfix">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div id="main-flexslider" class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <p class="home-slide-content">
                                            <strong>creative</strong> and
                                            passion
                                        </p>
                                    </li>
                                    <li>
                                        <p class="home-slide-content">
                                            Eat and drink
                                            <strong>design</strong>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="home-slide-content">
                                            We loves <strong>simplicity</strong>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <!-- end slider -->
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- spacer section -->
        <section class="spacer green">
            <div class="container">
                <div class="row">
                    <div class="span6 alignright flyLeft">
                        <blockquote class="large">
                            There's huge space beetween creativity and
                            imagination <cite>Mark Simmons, Nett Media</cite>
                        </blockquote>
                    </div>
                    <div class="span6 aligncenter flyRight">
                        <em class="icon-coffee icon-10x"></em>
                    </div>
                </div>
            </div>
        </section>
        <!-- end spacer section -->
        <!-- section: contact -->
        <section id="contact" class="section green">
            <div class="container">
                <h4>Get in Touch</h4>
                <p>
                    Reque facer nostro et ius, cu persius mnesarchum disputando
                    eam, clita prompta et mel vidisse phaedrum pri et. Facilisis
                    posidonium ex his. Mutat iudico vis in, mea aeque tamquam
                    scripserit an, mea eu ignota viderer probatus. Lorem legere
                    consetetur ei eum. Sumo aeque assentior te eam, pri nominati
                    posidonium consttuam
                </p>
                <div class="blankdivider30"></div>
                <div class="row">
                    <div class="span12">
                        <div class="cform" id="contact-form">
                            <div id="sendmessage">
                                Your message has been sent. Thank you!
                            </div>
                            <div id="errormessage"></div>
                            <form role="form" class="contactForm">
                                <div class="row">
                                    <div class="span6">
                                        <div class="field your-name form-group">
                                            <input
                                                type="text"
                                                name="name"
                                                class="form-control"
                                                id="name"
                                                placeholder="Your Name"
                                                data-rule="minlen:4"
                                                data-msg="Please enter at least 4 chars"
                                            />
                                            <div class="validation"></div>
                                        </div>
                                        <div
                                            class="field your-email form-group"
                                        >
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="email"
                                                id="email"
                                                placeholder="Your Email"
                                                data-rule="email"
                                                data-msg="Please enter a valid email"
                                            />
                                            <div class="validation"></div>
                                        </div>
                                        <div class="field subject form-group">
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="subject"
                                                id="subject"
                                                placeholder="Subject"
                                                data-rule="minlen:4"
                                                data-msg="Please enter at least 8 chars of subject"
                                            />
                                            <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="field message form-group">
                                            <textarea
                                                class="form-control"
                                                name="message"
                                                rows="5"
                                                data-rule="required"
                                                data-msg="Please write something for us"
                                                placeholder="Message"
                                            ></textarea>
                                            <div class="validation"></div>
                                        </div>
                                        <input
                                            type="submit"
                                            value="Send message"
                                            class="btn btn-theme pull-left"
                                        />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ./span12 -->
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span6 offset3">
                        <ul class="social-networks">
                            <li>
                                <a href="#"
                                    ><i
                                        class="icon-circled icon-bgdark icon-instagram icon-2x"
                                    ></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i
                                        class="icon-circled icon-bgdark icon-twitter icon-2x"
                                    ></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i
                                        class="icon-circled icon-bgdark icon-dribbble icon-2x"
                                    ></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i
                                        class="icon-circled icon-bgdark icon-pinterest icon-2x"
                                    ></i
                                ></a>
                            </li>
                        </ul>
                        <p class="copyright">
                            &copy; Mostafa Theme. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./container -->
        </footer>
        <a href="#" class="scrollup"
            ><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i
        ></a>
        <script src="element/js/jquery.js"></script>
        <script src="element/js/jquery.scrollTo.js"></script>
        <script src="element/js/jquery.nav.js"></script>
        <script src="element/js/jquery.localScroll.js"></script>
        <script src="element/js/bootstrap.js"></script>
        <script src="element/js/isotope.js"></script>
        <script src="element/js/jquery.flexslider.js"></script>
        <script src="element/js/inview.js"></script>
        <script src="element/js/animate.js"></script>
        <script src="element/js/custom.js"></script>
	<!-- Pin to top right corner -->
	  <div class="absolute top-0 right-0 h-12 w-18 p-4">
		<button class="js-change-theme focus:outline-none">🌙</button>
	  </div>

</div>

	<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
	<script src="https://unpkg.com/tippy.js@4"></script>
	<script>
		//Init tooltips
		tippy('.link',{
		  placement: 'bottom'
		})

		//Toggle mode
		const toggle = document.querySelector('.js-change-theme');
		const body = document.querySelector('body');
		const profile = document.getElementById('profile');
		
		
		toggle.addEventListener('click', () => {

		  if (body.classList.contains('text-gray-900')) {
			toggle.innerHTML = "☀️";
			body.classList.remove('text-gray-900');
			body.classList.add('text-gray-100');
			profile.classList.remove('bg-white');
			profile.classList.add('bg-gray-900');
		  } else
		  {
			toggle.innerHTML = "🌙";
			body.classList.remove('text-gray-100');
			body.classList.add('text-gray-900');
			profile.classList.remove('bg-gray-900');			
			profile.classList.add('bg-white');
			
		  }
		});
		
    </script>
	
</body>

</html>