body {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  background-image: url(https://iili.io/DBSnvs.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}